<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Modern Business - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/modern-business.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body class = "coach har">
 <!-- Header Carousel -->
    <header id="myCarousel" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
            <li data-target="#myCarousel" data-slide-to="4"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <div class="fill" style="background-image:url('assets/01.jpg');"></div>
                <div class="carousel-caption">
                    <h2 class = "coa">Swimming Pool</h2>
                </div>
            </div>
            <div class="item">
                <div class="fill" style="background-image:url('assets/02.jpg');"></div>
                <div class="carousel-caption">
                    <h2 class = "coa">Fitness Centre</h2>
                </div>
            </div>
            <div class="item">
                <div class="fill" style="background-image:url('assets/03.jpg');"></div>
                <div class="carousel-caption">
                    <h2 class = "coa">Cafeteria</h2>
                </div>
            </div>
       
         <div class="item">
                <div class="fill" style="background-image:url('assets/04.jpg');"></div>
                <div class="carousel-caption">
                    <h2 class = "coa">Reception</h2>
                </div>
            </div>
        
         <div class="item">
                <div class="fill" style="background-image:url('assets/05.jpg');"></div>
                <div class="carousel-caption">
                    <h2 class = "coa">Pool Zone</h2>
                </div>
            </div>
        </div>
        
        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>
    </header>

    <!-- Page Content -->
    <div class="container">
     </br> </br> </br>
        <div class="row">
            <div class="col-sm-6 col-md-4">
    
                 <div class="thumbnail animated bounceInLeft">
                       <%= image_tag "Squash/a.jpg" ,:size => "250x250"%>
                            <div class="caption">
                             <h4 class="one-coach">Squash</h4>
                                <div class = "bt-coach hvr-pop">
        
                                    <a href="/1" class="btn btn-default" role="button">DIVE IN</a>
                                </div> 
                            </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail animated bounceInRight">
                     <%= image_tag "Tennis/d.jpg" ,:size => "250x250"%>
                             <div class="caption">
                                <h4 class="two-coach">Tennis</h4>
                                    <div class = "bt-coach hvr-pop">
                                            <a href="/2" class="btn btn-default" role="button">DIVE IN</a>
                                    </div>
                             </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail animated bounceInLeft">
                     <%= image_tag "Golf/a.jpg" ,:size => "250x250"%>
                    <div class="caption">
                            <h4 class="three-coach">Golf</h4>
                        <div class = "bt-coach hvr-pop">
                            <a href="/3" class="btn btn-default" role="button">DIVE IN</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
    <div class="thumbnail animated bounceInRight">
     <%= image_tag "Bb/a.jpg" ,:size => "250x250"%>
      <div class="caption">
        <h4 class="four-coach">Basketball</h4>
        <div class = "bt-coach hvr-pop">
         <a href="/4" class="btn btn-default" role="button">DIVE IN</a></div>
      </div>
    </div>
    </div>
      <div class="col-md-4">
    <div class="thumbnail animated bounceInRight">
     <%= image_tag "Swim/a.jpg" ,:size => "250x250"%>
      <div class="caption">
        <h4 class="five-coach">Swimming</h4>
        <div class = "bt-coach hvr-pop">
         <a href="/5" class="btn btn-default" role="button">DIVE IN</a>
        </div>
      </div>
    </div>
    </div>
      <div class="col-md-4">
    <div class="thumbnail">
     <%= image_tag "Fit/a.jpg" ,:size => "250x250"%>
      <div class="caption">
        <h4 class="six-coach">Fitness Floor</h4>
        <div class = "bt-coach hvr-pop">
        <a href="/6" class="btn btn-default" role="button">DIVE IN</a>
        </div>
      </div>
    </div>
    </div>
      <div class="col-xs-6">
    <div class="thumbnail animated bounceInLeft">
     <%= image_tag "Bill/c.jpg" ,:size => "250x250"%>
      <div class="caption">
        <h4 class="seven-coach">Pool</h4>
        <div class = "bt-coachs hvr-pop">
        <a href="/7" class="btn btn-default" role="button">DIVE IN</a>
        </div>
      </div>
    </div>
    </div>
      <div class="col-xs-6">
    <div class="thumbnail animated bounceInRight">
     <%= image_tag "Bad/b.jpg" ,:size => "250x250"%>
      <div class="caption">
        <h4 class="eight-coach">Badminton</h4>
        <div class = "bt-coachs hvr-pop">
         <a href="/8" class="btn btn-default" role="button">DIVE IN</a></div>
      </div>
    </div>
    </div>
</div>
    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 2500 //changes the speed
    })
    </script>

</body>

</html>
